<div class="col-xs-12 player-stats">
    <div class="stats-table-header">
        <div class="stats-info-row-container">
            <div>
                Month
            </div>
            <div>
                Uberdork
            </div>
            <div>
                Rating
            </div>
            <div>
                Points
            </div>
            <div>
                Games
            </div>
        </div>
    </div>

    <div ng-repeat="game in $ctrl.monthlyRankings" ng-class="{'stats-row-even': $even, 'stats-row-odd': $odd}">
        <div class="stats-info-row-container" ng-if="game.uberdorks.length === 0">
            <div>
                {{$ctrl.monthName(game.month)}}
            </div>
            <div>
                &mdash;
            </div>
            <div>
                &mdash;
            </div>
            <div>
                &mdash;
            </div>
            <div>
                &mdash;
            </div>
        </div>

        <div class="stats-info-row-container" ng-if="game.uberdorks.length > 0">
            <div>
                {{$ctrl.monthName(game.month)}}
            </div>
            <div>
                <div ng-repeat="winner in game.uberdorks">{{winner.player.firstName + ' ' + winner.player.lastName}}</div>
            </div>
            <div>
                <div ng-repeat="winner in game.uberdorks">{{winner.rating}}</div>
            </div>
            <div>
                <div ng-repeat="winner in game.uberdorks">{{winner.totalPoints}}</div>
            </div>
            <div>
                <div ng-repeat="winner in game.uberdorks">{{winner.gamesPlayed}}</div>
            </div>
        </div>
    </div>
</div>