@import "variables";
@import "mixins";

.datepicker,
.timepicker {
	padding-left: 1em;
	padding-right: 1em;
	font-size: $font-large;
	display: inline-block;
	vertical-align: middle;
}

.staticDateTime {
	margin: auto;
	padding: 1em 0;
	max-width: 50em;
}