@import "variables";
@import "mixins";

@mixin cell-align() {
	display: table-cell;
	vertical-align: middle;

	@media screen and (max-width: 479px) {
		display: block;
	}
}

.date-picker-wrapper {
	display: table;
	width: 100%;
	border: 1px solid $btn-default-border-color;

	.btn {
		border-radius: 0;
	}

	.now-button {
		@include cell-align;
	}

	.datepicker,
	.timepicker {
		@include cell-align;
		font-size: $font-large;
		min-width: 144px;

		.button-wrapper {
			position: relative;
			display: table;
			width: 100%;
		}

		.no-selection {
			position: absolute;
			top: 0;
			left: 0;

			div {
				display: inline-block;
				vertical-align: middle;
			}

			.glyphicon{
				padding-right: $standard-spacing / 2;
				font-size: 30px;
			}

			.no-sel-label {
				text-align: left;
			}
		}

		.left-value,
		.middle-value,
		.right-value {
			display: table-cell;
			vertical-align: middle;
		}

		.left-value {
			width: 1.25em;
			padding-right: $standard-spacing / 2;
			line-height: 0;
			font-size: $font-largest;
			text-align: right;
		}

		.middle-value {
			text-align: left;
		}

		.right-value {
			width: 2.25em;
		}
	}

	.datepicker {
		text-align: left;

		.input-wrapper {
			position: relative;
		}
	}

	.timepicker {
		text-align: right;

		.input-wrapper {
			padding: 0 (2 * $standard-spacing);
		}
	}
}

.uib-datepicker {

	.text-muted {
		color: $med-gray;
	}

	.btn {
		border-radius: 0;

		&.btn-info.active {
			.text-info {
				color: white;
			}
		}
	}

	.btn[disabled] {
		background-color: $calendar-disabled-date-bg-color;
		color: $silver;
		opacity: 1;

		.text-muted {
			color: $silver;
		}
	}

	th,
	.uib-year,
	.uib-month,
	.uib-day {
		padding: 2px;	
	}
}