@import "variables";
@import "mixins";

.doty-uberdork-table {
    .month-header {
        margin: $standard-spacing;
    }

    .left-push {
        padding-left: 4em;
    }

    .month-header,
    .no-winner {
        font-size: $font-larger;
    }

    .no-winner {
        height: 98px;
    }

    .ranking-row {
        .ranking-rank {
            display: none;
        }
    }
}