@import "variables";
@import "mixins";

.game-graph {
    $axis-color: $med-gray;
    $graph-data-color: $dark-green;

    margin: 1em 0;

    .rating-tooltip {
        @include shadow($card-shadow);
        position: absolute;
        width: 120px;
        background-color: white;
        opacity: 0;
        font-size: 12px;
        border: 1px solid $axis-color;
        pointer-events: none;
    }

    .hover-bar {
        fill: black;
        fill-opacity: 0.075;
    }

    .graph-container {
        overflow-x: auto;

        &:first-of-type {
            margin-bottom: 1em;
        }

        &:not(:first-of-type) {
            margin-top: 1em;
        }
    }

    .graph-title {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: bold;
    }

    .svg-container {
        position: relative;
    }

    svg {
        text {
            fill: $gray;
            font-family: 'Ubuntu', sans-serif;
            font-size: $font-large;
        }

        .axis path,
        .tick line {
            stroke: $axis-color;
        }

        .axis-y {
            path.domain {
                @include transform(translate(-1px));
            }
        }

        .outside-border {
            stroke: $axis-color;
            stroke-width: 1px;
            fill: none;
        }
    }

    .rating-svg {
        .line.data {
            fill: url(#rating-gradient);
            fill-opacity: 0.5;
            stroke: url(#rating-gradient);
            stroke-width: 2px;
        }

        .axis-x .tick,
        .axis-y .tick:not(:first-of-type) {
            line {
                stroke: $silver;
            }
        }

        .positive-stop-color {
            stop-color: $graph-data-color;            
        }

        .neutral-stop-color {
            stop-color: black;
        }

        .negative-stop-color {
            stop-color: $red;
        }
    }

    .games-played-svg {
        .axis-y {
            .tick:not(:last-child) line {
                stroke: $background-color;
            }
        }

        .axis-x {
            .tick {
                text {
                    display: none;
                }
            }
        }

        .bar {
            fill: $graph-data-color;
        }
    }
}