@import "variables";
@import "mixins";

.game-graph {    
    margin: 1em 0;

    .graph-title {            
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: bold;
    }

    .svg-container {
        overflow-x: auto;
    }

    svg {
        text {
            fill: $gray;
            font-family: 'Ubuntu', sans-serif;
            font-size: $font-large;
        }

        .axis path,
        .tick line {
            stroke: $med-gray;
        }

        .axis-y {
            path.domain {
                @include transform(translate(-1px));
            }
        }
    }

    .rating-svg {
        .line.data {
            fill: none;
            stroke: $dark-green;
            stroke-width: 2px;
        }

        .axis-x .tick,
        .axis-y .tick:not(:first-of-type) {
            line {
                stroke: $silver;
            }
        }
    }

    .games-played-svg {
        .axis-y {
            .tick:not(:first-of-type) line {
                stroke: $background-color;
            }
        }

        .bar {
            fill: $dark-green;
        }
    }
}