@import "variables";
@import "mixins";

.game-card {
	display: inline-block;
	padding: 1em;
	border-radius: $player-card-border-radius;
	background-color: $light-gray;
	border: 1px solid lighten($gray, 30%);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
}

.game-column-player,
.game-column-rank,
.game-column-points {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.game-column-player {
	width: 22em;
}

.game-column-rank {
	width: 15em;
}

.game-column-points {
	width: 15em;
}

.game-date {
	font-size: $font-larger;
	font-weight: bold;
	color: $dark-orange;
}

.game-time {
	font-size: $font-large;
	font-weight: bold;
}

.game-edit-btn {
	vertical-align: top;
	
	.btn {
		margin-top: $standard-spacing;
		
		.glyphicon {
			margin-left: 0;
		}
	}
}

.game-score-modifier-icons,
.game-score-numeric-input {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.game-score-modifier-icons a {
	padding: $standard-spacing 0;
	font-size: $font-larger;
}

.game-score-numeric-input {
	width: 3em;
	font-size: $font-large;
}

.btn-group-lg.game-rank-group {
	padding: 1em 0;
	
	& > .btn {
		padding: $standard-spacing 1em;
	}
}