@import "variables";
@import "mixins";

.game-date {
	font-size: $font-larger;
	font-weight: bold;
	color: $dark-orange;
}

.game-time {
	font-size: $font-large;
	font-weight: bold;
}

.game-edit-btn {
	vertical-align: top;
	
	.btn {
		margin-top: $standard-spacing;
		
		.glyphicon {
			margin-left: 0;
		}
	}
}

.game-score-modifier-icons,
.game-score-numeric-input {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.game-score-modifier-icons a {
	padding: $standard-spacing 0;
	font-size: $font-larger;
}

.game-score-numeric-input {
	width: 3em;
	font-size: $font-large;
}