@import "variables";

@mixin row() {
	display: block;
	line-height: 2em;
	padding: 1em 0;
}

@mixin player-left() {
	float: left;	
	padding-right: $standard-spacing;
	font-size: $font-largest;
	color: $dark-orange;
}

@mixin shadow($var) {
	-moz-box-shadow: $var;
	-webkit-box-shadow: $var;
	box-shadow: $var;
}

@mixin round-box() {
	border: 4px solid $dark-orange;
	border-radius: 3px;
}