@import "variables";
@import "mixins";

.players-list-card {
	padding-bottom: 2em;

	.player-extra-info {
		margin: $standard-spacing 0;

		span {
			vertical-align: middle;
		}

		.playerId {
			margin-right: $standard-spacing;
		}
	}
}

.edit-player-btn-group {
	margin: 1em 0;

	.btn {
		padding-right: 2em;
	}
}