@import "variables";
@import "mixins";

.player-selector {
	padding-top: 1em;
	padding-bottom: 1em;

	.player-selector-instructions {
		margin: 1em;
		font-size: $font-large;
	}

	.dropdown-menu {
	    width: 100%;
	    font-size: $font-larger;
	    line-height: 2em;
    }

	.player-selector-not-found {
		text-align: center;
		margin: 1em;
		padding: $standard-spacing;

		.player-selector-not-found-text,
		.player-selector-add-player-btn {
			margin: $standard-spacing;
		}

		.player-selector-not-found-text {
			font-size: $font-large;
		}
	}
}