@import "variables";
@import "mixins";

@mixin player-nickname() {
	margin-left: 0.3em;
	padding-left: 0.5em;
	border-left: 2px solid $background-color;
	display: inline-block;
	white-space: nowrap;
}

@mixin player-name() {
	background-color: $dark-bg;
	color: $background-color;
	display: inline-block;
	padding: 0 0.5em;
	font-weight: bold;
}

.player-delete-blur {
	@include blur(2px);
}

.player-delete-warning-overlay {
	@include delete-overlay;
}

.panel-title {
	.player-nickname {
		@include player-nickname;
	}

	.player-name {
		@include player-name;
		margin: $standard-spacing 0;
	}
	
	.btn-remove-player {
		padding-top: 0;
		padding-right: 0;
		
		.glyphicon {
			margin-right: 0;
		}
	}
}

.player-card {
	margin: $standard-spacing;

	.player-order {
		@include player-left;
		width: 2em;
		text-align: center;
		line-height: 1.5em;
	}

	.player-nickname {
		@include player-nickname;
	}

	.player-name {
		@include player-name;
		font-size: $font-large;
	}

	.player-fullname {
		font-size: $font-large;
	}
}

.player-scores-wrapper {
	margin-bottom: 2.5em;
}

.player-score-card {
	$dot-height: 1.5em;
	
	display: inline-block;
	margin: $standard-spacing;
	margin-top: 0;
	margin-bottom: $dot-height / 2;
	text-align: center;
	font-size: $font-large;
	width: 5em;
	
	.player-name {
		margin: $standard-spacing;
		background-color: $dark-bg;
		color: $background-color;
		font-weight: bold;
	}
	
	.player-score-card-outline {
		@include round-box();
	}
	
	.player-score-big {
		font-size: $font-larger;
		color: $dark-orange;
	}
	
	.game-rank {
		height: $dot-height;
		vertical-align: middle;
		 
		.game-rank-dot {
			display: inline-block;
			margin: 0 $standard-spacing;
		}
	}
}

.footer-spacer {
	width: 100%;
	height: $global-nav-spacer + 2em;
}

.footer-bar {
	@include shadow(0 2px 4px 2px rgba(0, 0, 0, 0.5));
	margin: 0;
	padding: 0 $standard-spacing;
	color: $global-nav-text-color;
	background-color: $global-nav-bg;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: $global-nav-height;
	line-height: 1.8em;
	font-size: 2.2em;
	font-weight: bold;
	
	.btn {
		margin-left: 0.25em;
		margin-right: 0.25em;
	}
}

.overlay {
	top: 0;
	left: 0;
	
	&.add-player-open {
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 24;
		transition: $base-transition;
	}
}

.add-player-panel {
	position: fixed;
	top: 6em;
	width: 100%;
	z-index: 25;
}