@import "variables";
@import "mixins";

@mixin player-nickname() {
	margin-left: 0.3em;
	padding-left: 0.5em;
	border-left: 2px solid $background-color;
	display: inline-block;
	white-space: nowrap;
}

@mixin player-name() {
	background-color: $dark-bg;
	color: $background-color;
	display: inline-block;
	padding: 0 0.5em;
	font-weight: bold;
}

.player-move-panel-content {
	font-size: $font-larger;
	color: $gray;
	height: 2em;
	line-height: 2em;
}

.panel-title {
	.player-nickname {
		@include player-nickname;
	}

	.player-name {
		@include player-name;
		margin: $standard-spacing 0;
	}
}

.player-card {
	margin: $standard-spacing;

	.player-order {
		@include player-left;
		width: 2em;
		text-align: center;
		
		.checkmark {
			height: 1.5em;
			line-height: 1.3em;
		}
	}
	
	.player-nametag {
		@include player-right;
	}

	.player-nickname {
		@include player-nickname;
	}

	.player-name {
		@include player-name;
		font-size: $font-large;
	}

	.player-fullname {
		font-size: $font-large;
	}
}

.player-score-card {
	$dot-height: 1.5em;
	
	display: inline-block;
	margin: $standard-spacing;
	margin-top: 0;
	margin-bottom: $dot-height / 2;
	text-align: center;
	font-size: $font-large;
	width: 5em;
	
	.player-name {
		margin: $standard-spacing;
		background-color: $dark-bg;
		color: $background-color;
		font-weight: bold;
	}
	
	.player-score-card-outline {
		@include round-box();
	}
	
	.player-score-big {
		font-size: $font-larger;
		color: $dark-orange;
	}
	
	.game-rank {
		height: $dot-height;
		vertical-align: middle;
		 
		.game-rank-dot {
			display: inline-block;
			margin: 0 $standard-spacing;
		}
	}
}

.overlay {
	top: 0;
	left: 0;
	
	&.add-player-open {
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 24;
		transition: $base-transition;
	}
}

.add-player-panel {
	position: fixed;
	top: 1em;
	width: 100%;
	z-index: 25;
}

.panel-dotm {
	@include round-box;
	background-color: transparent;
	
	.panel-heading,
	.panel-body {
		padding: 16px;
	}
	
	.panel-heading {
		color: $dark-orange;
		text-transform: uppercase;
	}
	
	.panel-body {
		padding-top: 0;
		font-size: $font-large;
	}
}