@import "variables";
@import "mixins";

@import "global";
@import "admin";
@import "datePicker";
@import "addPlayer";

.player-card {
	margin: 5px;

	.player-order {
		@include player-left;
		width: 2em;
		text-align: center;
		line-height: 1.5em;
	}

	.player-nickname {
		margin-left: 0.3em;
		padding-left: 0.5em;
		border-left: 2px solid $background-color;
		display: inline-block;
		white-space: nowrap;
	}

	.player-name {
		background-color: $dark-bg;
		color: $background-color;
		display: inline;
		padding: 0 0.5em;
		font-size: $font-large;
		font-weight: bold;
	}

	.player-fullname {
		font-size: $font-large;
	}
}

/* 
.ranking-row,
.ranking-rank,
.ranking-data,
.row {
	border: $default-border;
} */

.ranking-no-rank {
	opacity: 0.5;
}

.ranking-row {
	@include row;

	.ranking-rank {
		@include player-left;
		width: 2.5em;
		text-align: right;
		line-height: 2em;
		height: 3em;
	}

	.ranking-value {
		font-size: $font-large;
	}

	.ranking-label {
		display: inline-block;
		margin-right: 0.5em;
		color: $gray;
	}
}

.playlist-filter {
	padding: 0.25em;
	width: 100%;
	font-size: 2em;
	line-height: 2em;
	height: 2em;
}

.playlist-filter-remove {
	font-size: 2em;
	cursor: pointer;
}

.playlist-row {
	@include row;
	padding: 1em;

	&:hover {
		border-radius: $player-card-border-radius;
		background-color: $light-orange;
		cursor: pointer;

		.player-nickname {
			border-color: $light-orange;
		}

		.player-name {
			color: $light-orange;
		}
	}

	.player-order {
		.checkmark {
			border: 4px solid #df6d2e;
			border-radius: 3px;
		}

		input {
			position: absolute;
			visibility: hidden;
		}
	}

	.playlist-player-name,
	.playlist-player-fullname {
		font-size: $font-large;
	}
}

.playlist-scores-row,
.playlist-order-row {
	@include row;
	padding: 1em;
	width: 100%;
}

.playlist-buttons {
	margin: auto;
	text-align: center;

	.btn {
		width: 90%;
		margin: 1em;
		padding: 1.5em;
	}
}

.playlist-scores-input {
	width: 100%;
}

.btn > .glyphicon {
	margin-right: $icon-spacing;
}

.load-bar {
	display: block;
	width: 100%;
	height: 10em;
	line-height: 10em;
	text-align: center;
}
