$defaultBorder: 1px solid black;

body {
	font-family: 'Ubuntu', sans-serif;
}

.outline {
	border: $defaultBorder;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #e5efe4;
}