$font-large: 1.4em;

$background-color: #e4e9ef;
$dark-bg: darken($background-color, 50%);
$gray: #7a8394;
$dark-orange: #df6d2e;
$light-orange: #e7c0ab;

$default-border: 1px solid black;
$player-card-border-radius: 5px;