.idea
node_modules
.sass-cache
*.iml/.sass-cache/279f01ff80e890627a20c70cf9f651d6f40409d6/style.scssc
/.gitignore.swp
/.env
*.iml
**/*.js.map
**/*.css.map
obj/
.vs/
bin/
packages/
dork-app.csproj.user
dump/
public/areas/**/*.js
public/shared/**/*.js
typings/