extends layout

block modules
	script(src='/areas/players/directives/PlayerFormDirective.js')
	script(src='/areas/players/directives/AddPlayerDirective.js')
	
	script.
		var AddPlayerModule = angular.module('AddPlayerModule', []);
		
		AddPlayerModule.controller('AddPlayerController', AddPlayerController);
		AddPlayerModule.directive('addPlayer', AddPlayerDirective);
		
		AddPlayerModule.controller('PlayerFormController', PlayerFormController);
		AddPlayerModule.directive('playerForm', PlayerFormDirective);
	
	- var modules = ['AddPlayerModule']

block content
	div.row
		add-player