extends layout

block content
	div.row
		add-player
	script(src='/areas/players/directives/PlayerFormDirective.js')
	script(src='/areas/players/directives/AddPlayerDirective.js')
	script(src='/areas/players/modules/AddPlayerModule.js')