extends layout

block modules
	- var modules = ['AddPlayerModule']

block scripts
	script(src='/areas/players/directives/PlayerFormDirective.js')
	script(src='/areas/players/directives/AddPlayerDirective.js')
	script(src='/areas/players/modules/AddPlayerModule.js')
	
block content
	div.row
		add-player