extends layout

block content
	div.container-fluid(ng-app="CreateGameModule")
		h1= title
		div.row
			create-game
	script(src='/scripts/bootstrap/modal.js')
	script(src='/modules/PlaylistModule.js')
	script(src='/directives/PlaylistDirective.js')
	script(src='/directives/CreateGameDirective.js')