extends layout

block modules
    script(src='/areas/editActiveGame/services/EditActiveGameService.js')
    script(src='/areas/editActiveGame/directives/EditScoresDirective.js')
    script(src='/areas/editActiveGame/directives/EditActiveGameDirective.js')
    
    script.
        var EditActiveGameModule = angular.module('EditActiveGameModule', []);
		
        EditActiveGameModule.service('editActiveGameService', EditActiveGame.EditActiveGameService);
		
        EditActiveGameModule.controller('EditActiveGameController', EditActiveGame.EditActiveGameController);
        EditActiveGameModule.directive('editActiveGame', EditActiveGame.EditActiveGameDirective);
        
        EditActiveGameModule.controller('EditScoresController', EditActiveGame.EditScoresController);
        EditActiveGameModule.directive('editScores', EditActiveGame.EditScoresDirective);
        
    - var modules = ['EditActiveGameModule']
    
block content
    div.row
        edit-active-game