extends layout

block scripts
	script(src='/directives/ReorderPlayersDirective.js')
	script(src='/areas/players/directives/PlayerSelectorDirective.js')
	script(src='/directives/EditScoresDirective.js')
	script(src='/directives/EditActiveGameDirective.js')

block content
	div.row
		edit-active-game