extends layout

block modules
	script(src='/areas/dotm/directives/DotmDirective.js')
	script(src='/areas/dotm/modules/DotmModule.js')
	
	script(src='/areas/rankings/services/RankingsService.js')
	script(src='/areas/rankings/directives/RankingsCardDirective.js')
	script(src='/areas/rankings/directives/RankingsDirective.js')
	script(src='/areas/rankings/modules/RankingsModule.js')
	
	script(src='/areas/rankings/directives/LeaderboardDirective.js')
	
	script.
		var LeaderboardModule = angular.module('LeaderboardModule', ['DotmModule', 'RankingsModule']);
		
		LeaderboardModule.controller('LeaderboardController', Rankings.LeaderboardController);
		LeaderboardModule.directive('leaderboard', Rankings.LeaderboardDirective);
	
	- var modules = ['LeaderboardModule']

block content
	leaderboard