extends layout

block modules
	- var modules = ['DotmModule'] 

block scripts
	script(src='/areas/dotm/directives/DotmPanelDirective.js')
	script(src='/areas/dotm/directives/DotmDirective.js')
	script(src='/directives/LeaderboardDirective.js')
	script(src='/directives/RankingsDirective.js')
	script(src='/areas/dotm/modules/DotmModule.js')

block content
	leaderboard