doctype html
html
  head
    title= "DORK | " + title
    |<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/scripts/jquery.min.js')
    script(src='/scripts/angular.min.js')
    script(src='/scripts/ui-bootstrap-tpls-0.13.0.min.js')
    script(src='/services/PlayerNameFactory.js')
    script(src='/directives/NumericUpDownDirective.js')
    script(src='/directives/PlayerNametagDirective.js')
    script(src='/modules/PlayerNametagModule.js')
    script(src='/directives/PlayerScoretagDirective.js')
    script(src='/modules/PlayerScoretagModule.js')
    script(src='/directives/DatePickerDirective.js')
    script(src='/modules/DatePickerModule.js')
    script(src='/directives/MonthYearPickerDirective.js')
    script(src='/modules/MonthYearPickerModule.js')
    script(src='/modules/DorkModule.js')
  body(ng-app="DorkModule")
    global-nav
    block content
    script(src='/directives/GlobalNavDirective.js')