doctype html
html
  head
    title= "DORK | " + title
    |<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='/images/favicon.ico')
    link(rel='shortcut icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/scripts/jquery.min.js')
    script(src='/scripts/angular.min.js')
    script(src='/scripts/angular-animate.js')
    script(src='/scripts/ui-bootstrap-tpls-1.3.3.min.js')
    script(src='/shared/models/Player.js')
    script(src='/shared/models/GamePlayer.js')
    script(src='/shared/models/NewGame.js')
    script(src='/shared/models/NewGamePlayer.js')
    script(src='/shared/models/RankedPlayer.js')
    script(src='/shared/models/Game.js')
    script(src='/shared/services/DateTimeService.js')
    script(src='/shared/services/MonthYearQueryService.js')
    script(src='/shared/services/ApiService.js')
    script(src='/shared/directives/LoadSpinnerDirective.js')
    script(src='/shared/directives/NumericUpDownDirective.js')
    script(src='/shared/directives/PlayerNametagDirective.js')
    script(src='/shared/directives/PlayerScoretagDirective.js')
    script(src='/shared/directives/DatePickerDirective.js')
    script(src='/shared/directives/MonthYearPickerDirective.js')
    script(src='/shared/directives/GlobalNavDirective.js')
    script(src='/shared/modules/UxControlsModule.js')
    
    block modules
    
    - var modulesList = ''
    
    if modules
      each val in modules
        - modulesList = modulesList + ", \'" + val + "\'" 
    
    script.
      var DorkModule = angular.module('DorkModule', ['UxControlsModule'#{modulesList}]);
    
  body(ng-app="DorkModule")
    global-nav
    div.container-fluid.max-width
      h1= title
      block content