extends layout

block modules
	- var modules = ['PlayersListModule']

block scripts
	script(src='/areas/players/directives/PlayerFormDirective.js')
	script(src='/areas/players/directives/PlayersListDirective.js')
	script(src='/areas/players/modules/PlayersListModule.js')

block content
	div.row
		players-list