extends layout

block modules
	script(src='/areas/players/directives/PlayerFormDirective.js')
	script(src='/areas/players/directives/PlayersListDirective.js')
	
	script.
		var PlayersListModule = angular.module('PlayersListModule', []);
		
		PlayersListModule.controller('PlayersListController', Players.PlayersListController);
		PlayersListModule.directive('playersList', Players.PlayersListDirective);
		
		PlayersListModule.controller('PlayerFormController', Players.PlayerFormController);
		PlayersListModule.directive('playerForm', Players.PlayerFormDirective);
	
	- var modules = ['PlayersListModule']

block content
	div.row
		players-list