<div ng-form="ctrl.playerForm" class="form-group">
	<input class="form-control input-lg" type="text" name="firstName" placeholder="First Name" ng-model="ctrl.player.firstName" ng-disabled="ctrl.disableForm" autocomplete="off" />
	<input class="form-control input-lg" type="text" name="lastName" placeholder="Last Name" ng-model="ctrl.player.lastName" ng-disabled="ctrl.disableForm" autocomplete="off" />
	<input class="form-control input-lg" type="text" name="nickName" placeholder="Nickname" ng-model="ctrl.player.nickname" ng-disabled="ctrl.disableForm" autocomplete="off" />
</div>
