
<div class="form-group player-selector">
	<div class="input-group">
		<input type="text" class="form-control player-selector-filter"
			placeholder="Type name..."
			ng-model="ctrl.filter"
			typeahead="p as p.player.fullname for p in ctrl.players | filter:$viewValue | limitTo:6"
			typeahead-on-select="ctrl.selectPlayer($item, $model, $label)"
			typeahead-focus-on-select="false"
			autocomplete="off"
			autofocus />
		<div class="input-group-addon player-selector-filter-remove" ng-click="ctrl.removeFilter()">
			<span class="glyphicon glyphicon-remove-sign"></span>
		</div>
	</div>
</div>
