<div class="text-center">
	<div class="datepicker">
		<div class="input-group">
			<input type="text"
                   class="form-control"
                   uib-datepicker-popup="{{ctrl.format}}"
                   ng-model="ctrl.date"
                   is-open="ctrl.opened"
                   datepicker-options="ctrl.dateOptions"
                   show-button-bar="false"
                   ng-required="true"
                   close-text="Close"
                   ng-disabled="ctrl.disabled" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="ctrl.open()" ng-disabled="ctrl.disabled">
					<span class="glyphicon glyphicon-calendar"></span>
			    </button>
			</span>
		</div>
	</div>
	<div class="timepicker">
		<uib-timepicker ng-model="ctrl.date"
                    hour-step="ctrl.hstep"
                    minute-step="ctrl.mstep"
                    show-meridian="true"
                    ng-disabled="ctrl.disabled">
		</uib-timepicker>
	</div>
</div>