<div class="playlist-scores-row" ng-repeat="player in ctrl.players">
	<div class="panel panel-default">
			
		<div class="panel-heading">
			<h3 class="panel-title">
				<player-nametag player="ctrl.formatPlayer(player.player)"></player-nametag>
			</h3>
		</div>
		
		<div class="panel-body text-center" style="cursor: pointer;" ng-click="ctrl.clickHandler(player)">
			
			<div class="player-move-panel-content">
				<span ng-if="!player.moveDropZoneActive && !player.selectedToMove">
					Tap to select
				</span>
				
				<span ng-if="!player.moveDropZoneActive && player.selectedToMove">
					Tap to unselect
				</span>
				
				<span ng-if="player.moveDropZoneActive && !player.selectedToMove">
					<span class="glyphicon glyphicon-download-alt"></span>
				</span>
			</div>
			
		</div>
	</div>
</div>