.date-picker-wrapper {
  display: table;
  width: 100%;
  border: 1px solid #CCC; }
  .date-picker-wrapper .btn {
    border-radius: 0; }
  .date-picker-wrapper .now-button {
    display: table-cell;
    vertical-align: middle; }
    @media screen and (max-width: 479px) {
      .date-picker-wrapper .now-button {
        display: block; } }
  .date-picker-wrapper .datepicker,
  .date-picker-wrapper .timepicker {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.4em;
    min-width: 144px; }
    @media screen and (max-width: 479px) {
      .date-picker-wrapper .datepicker,
      .date-picker-wrapper .timepicker {
        display: block; } }
    .date-picker-wrapper .datepicker .button-wrapper,
    .date-picker-wrapper .timepicker .button-wrapper {
      position: relative;
      display: table;
      width: 100%; }
    .date-picker-wrapper .datepicker .no-selection,
    .date-picker-wrapper .timepicker .no-selection {
      position: absolute;
      top: 0;
      left: 0; }
      .date-picker-wrapper .datepicker .no-selection div,
      .date-picker-wrapper .timepicker .no-selection div {
        display: inline-block;
        vertical-align: middle; }
      .date-picker-wrapper .datepicker .no-selection .glyphicon,
      .date-picker-wrapper .timepicker .no-selection .glyphicon {
        padding-right: 0.25em;
        font-size: 30px; }
      .date-picker-wrapper .datepicker .no-selection .no-sel-label,
      .date-picker-wrapper .timepicker .no-selection .no-sel-label {
        text-align: left; }
    .date-picker-wrapper .datepicker .left-value,
    .date-picker-wrapper .datepicker .middle-value,
    .date-picker-wrapper .datepicker .right-value,
    .date-picker-wrapper .timepicker .left-value,
    .date-picker-wrapper .timepicker .middle-value,
    .date-picker-wrapper .timepicker .right-value {
      display: table-cell;
      vertical-align: middle; }
    .date-picker-wrapper .datepicker .left-value,
    .date-picker-wrapper .timepicker .left-value {
      width: 1.25em;
      padding-right: 0.25em;
      line-height: 0;
      font-size: 3em;
      text-align: right; }
    .date-picker-wrapper .datepicker .middle-value,
    .date-picker-wrapper .timepicker .middle-value {
      text-align: left; }
    .date-picker-wrapper .datepicker .right-value,
    .date-picker-wrapper .timepicker .right-value {
      width: 2.25em; }
  .date-picker-wrapper .datepicker {
    text-align: left; }
    .date-picker-wrapper .datepicker .input-wrapper {
      position: relative; }
  .date-picker-wrapper .timepicker {
    text-align: right; }
    .date-picker-wrapper .timepicker .input-wrapper {
      padding: 0 1em; }
      .date-picker-wrapper .timepicker .input-wrapper table.uib-timepicker {
        margin: auto; }
    .date-picker-wrapper .timepicker .dropdown-menu {
      min-width: 190px; }

.uib-datepicker .text-muted {
  color: #999999; }

.uib-datepicker .btn {
  border-radius: 0; }
  .uib-datepicker .btn.btn-info.active .text-info {
    color: white; }

.uib-datepicker .btn[disabled] {
  background-color: #EEE;
  color: #C0C0C0;
  opacity: 1; }
  .uib-datepicker .btn[disabled] .text-muted {
    color: #C0C0C0; }

.uib-datepicker th,
.uib-datepicker .uib-year,
.uib-datepicker .uib-month,
.uib-datepicker .uib-day {
  padding: 2px; }
