.doty-uberdork-table .month-header {
  font-size: 2em;
  margin: 0.5em; }

.doty-uberdork-table .player-card {
  margin-left: 0.5em; }

.doty-uberdork-table .ranking-row .ranking-rank {
  display: none; }
