.doty-uberdork-table .month-header {
  margin: 0.5em; }

.doty-uberdork-table .left-push {
  padding-left: 4em; }

.doty-uberdork-table .month-header,
.doty-uberdork-table .no-winner {
  font-size: 2em; }

.doty-uberdork-table .ranking-row .ranking-rank {
  display: none; }

.doty-winner-placeholder {
  -webkit-filter: contrast(50%) grayscale(50%) blur(4px);
  -moz-filter: contrast(50%) grayscale(50%) blur(4px);
  -ms-filter: contrast(50%) grayscale(50%) blur(4px);
  -o-filter: contrast(50%) grayscale(50%) blur(4px);
  filter: contrast(50%) grayscale(50%) blur(4px); }
