.game-graph {
  margin: 1em 0; }
  .game-graph .graph-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold; }
  .game-graph .svg-container {
    overflow-x: auto; }
  .game-graph svg text {
    fill: #7a8394;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4em; }
  .game-graph svg .axis path,
  .game-graph svg .tick line {
    stroke: #999999; }
  .game-graph svg .axis-y path.domain {
    -webkit-transform: translate(-1px);
    transform: translate(-1px); }
  .game-graph .rating-svg .line.data {
    fill: none;
    stroke: #508425;
    stroke-width: 2px; }
  .game-graph .rating-svg .axis-x .tick line,
  .game-graph .rating-svg .axis-y .tick:not(:first-of-type) line {
    stroke: #C0C0C0; }
  .game-graph .games-played-svg .axis-y .tick:not(:first-of-type) line {
    stroke: #E6EBEF; }
  .game-graph .games-played-svg .bar {
    fill: #508425; }
