.game-graph {
  margin: 1em 0; }
  .game-graph .game-graph-tooltip {
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    position: absolute;
    background-color: white;
    opacity: 0;
    font-size: 12px;
    border: 1px solid #999999;
    pointer-events: none; }
  .game-graph .rating-tooltip {
    width: 120px; }
  .game-graph .games-played-tooltip {
    width: 90px; }
    .game-graph .games-played-tooltip table {
      margin: 0 auto; }
      .game-graph .games-played-tooltip table td {
        padding: 0.25em; }
      .game-graph .games-played-tooltip table .game-num {
        text-align: right; }
      .game-graph .games-played-tooltip table .game-rating {
        text-align: right; }
  .game-graph .hover-bar {
    fill: black;
    fill-opacity: 0.075; }
  .game-graph .graph-container {
    overflow-x: auto; }
    .game-graph .graph-container:first-of-type {
      margin-bottom: 1em; }
    .game-graph .graph-container:not(:first-of-type) {
      margin-top: 1em; }
  .game-graph .graph-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold; }
  .game-graph .svg-container {
    position: relative; }
  .game-graph svg text {
    fill: #7a8394;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4em; }
  .game-graph svg .axis path,
  .game-graph svg .tick line {
    stroke: #999999; }
  .game-graph svg .axis-y path.domain {
    -webkit-transform: translate(-1px);
    transform: translate(-1px); }
  .game-graph svg .outside-border {
    stroke: #999999;
    stroke-width: 1px;
    fill: none; }
  .game-graph .rating-svg .line.data {
    fill: url(#rating-gradient);
    fill-opacity: 0.5;
    stroke: url(#rating-gradient);
    stroke-width: 2px; }
  .game-graph .rating-svg .axis-x .tick line,
  .game-graph .rating-svg .axis-y .tick:not(:first-of-type) line {
    stroke: #C0C0C0; }
  .game-graph .rating-svg .positive-stop-color {
    stop-color: #508425; }
  .game-graph .rating-svg .neutral-stop-color {
    stop-color: black; }
  .game-graph .rating-svg .negative-stop-color {
    stop-color: #E94B35; }
  .game-graph .games-played-svg .axis-y .tick:not(:last-child) line {
    stroke: #C0C0C0; }
  .game-graph .games-played-svg .axis-x .tick text {
    display: none; }
  .game-graph .games-played-svg .bar {
    fill: #508425;
    fill-opacity: 0.5;
    stroke: #508425;
    stroke-width: 2px; }
