.player-move-panel-content {
  font-size: 2em;
  color: #7a8394;
  height: 2em;
  line-height: 2em; }

.player-delete-blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px); }

.player-delete-warning-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center; }
  .player-delete-warning-overlay h3 {
    text-shadow: 0 0 20px #000; }
  .player-delete-warning-overlay .overlay-text-container {
    width: 100%;
    height: 100%;
    cursor: pointer; }

.panel-title .player-nickname {
  margin-left: 0.3em;
  padding-left: 0.5em;
  border-left: 2px solid #e4e9ef;
  display: inline-block;
  white-space: nowrap; }

.panel-title .player-name {
  background-color: #4f6885;
  color: #e4e9ef;
  display: inline-block;
  padding: 0 0.5em;
  font-weight: bold;
  margin: 0.5em 0; }

.player-card {
  margin: 0.5em; }
  .player-card .player-order {
    display: table-cell;
    vertical-align: top;
    padding-right: 0.5em;
    font-size: 3em;
    color: #df6d2e;
    width: 2em;
    text-align: center; }
    .player-card .player-order .checkmark {
      height: 1.5em;
      line-height: 1.3em; }
  .player-card .player-nametag {
    display: table-cell;
    vertical-align: top; }
  .player-card .player-nickname {
    margin-left: 0.3em;
    padding-left: 0.5em;
    border-left: 2px solid #e4e9ef;
    display: inline-block;
    white-space: nowrap; }
  .player-card .player-name {
    background-color: #4f6885;
    color: #e4e9ef;
    display: inline-block;
    padding: 0 0.5em;
    font-weight: bold;
    font-size: 1.4em; }
  .player-card .player-fullname {
    font-size: 1.4em; }

.player-score-card {
  display: inline-block;
  margin: 0.5em;
  margin-top: 0;
  margin-bottom: 0.75em;
  text-align: center;
  font-size: 1.4em;
  width: 5em; }
  .player-score-card .player-name {
    margin: 0.5em;
    background-color: #4f6885;
    color: #e4e9ef;
    font-weight: bold; }
  .player-score-card .player-score-card-outline {
    border: 4px solid #df6d2e;
    border-radius: 3px; }
  .player-score-card .player-score-big {
    font-size: 2em;
    color: #df6d2e; }
  .player-score-card .game-rank {
    height: 1.5em;
    vertical-align: middle; }
    .player-score-card .game-rank .game-rank-dot {
      display: inline-block;
      margin: 0 0.5em; }

.footer-spacer {
  width: 100%;
  height: 5.5em; }

.footer-bar {
  -moz-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0 0.5em;
  color: #fff;
  background-color: #4f6885;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 2em;
  line-height: 1.8em;
  font-size: 2.2em;
  font-weight: bold; }
  .footer-bar .btn {
    margin-left: 0.25em;
    margin-right: 0.25em; }
  .footer-bar .btn-text {
    font-size: 12px; }
  .footer-bar button.active {
    color: #00ff00;
    text-shadow: 0 0 4px #ffffff; }

.overlay {
  top: 0;
  left: 0; }
  .overlay.add-player-open {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 24;
    transition: all 0.3s ease-in-out; }

.add-player-panel {
  position: fixed;
  top: 1em;
  width: 100%;
  z-index: 25; }

.panel-dotm {
  border: 4px solid #df6d2e;
  border-radius: 3px;
  background-color: transparent; }
  .panel-dotm .panel-heading,
  .panel-dotm .panel-body {
    padding: 16px; }
  .panel-dotm .panel-heading {
    color: #df6d2e;
    text-transform: uppercase; }
  .panel-dotm .panel-body {
    padding-top: 0;
    font-size: 1.4em; }

