@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), url(/fonts/sDGTilo5QRsfWu6Yc11AXg.woff2) format("woff2"), url(/fonts/_xyN3apAT_yRRDeqB3sPRg.woff) format("woff"); }
html,
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px; }

body {
  margin-top: 3.5em;
  padding-top: 0.5em;
  background-color: #e4e9ef; }

section {
  padding: 1em;
  border-radius: 5px;
  background-color: #F1F5F8;
  border: 1px solid #cfd2d8;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  margin-top: 1em;
  margin-bottom: 2em;
  position: relative; }

.dropdown-menu {
  width: 100%;
  font-size: 2em;
  line-height: 2em; }

.panel-body {
  position: relative;
  padding: 1em; }

.global-nav {
  -moz-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0 0.5em;
  color: #fff;
  background-color: #4f6885;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 2em;
  line-height: 1.8em;
  font-size: 2.2em;
  font-weight: bold; }
  .global-nav .global-nav-checkbox {
    display: none; }
  .global-nav .glyphicon-menu-hamburger {
    padding: 0;
    margin-right: 0.5em;
    cursor: pointer; }
  .global-nav .global-nav-title {
    padding: 0.25em;
    display: inline-block; }

.overlay {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  transition: all 0.3s ease-in-out; }
  .overlay.sidebar-open {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 90;
    transition: all 0.3s ease-in-out; }

.global-nav-menu {
  -moz-box-shadow: 2px 0 4px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 0 4px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 0 4px 2px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  position: fixed;
  padding: 0;
  margin: 0;
  margin-left: -14em;
  padding-top: 0.5em;
  width: 12em;
  height: 100%;
  font-size: 2.2em;
  z-index: 99;
  transition: all 0.3s ease-in-out; }
  .global-nav-menu.sidebar-open {
    margin-left: 0;
    transition: all 0.3s ease-in-out; }
  .global-nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .global-nav-menu a {
    padding: 0.5em;
    display: block;
    text-decoration: none;
    color: #4f6885;
    background-color: #fff; }
    .global-nav-menu a .glyphicon {
      margin-right: 0.5em; }
    .global-nav-menu a:hover {
      color: #4f6885;
      background-color: #e7c0ab; }

.container-fluid {
  max-width: 1280px; }

.big-action-buttons {
  margin: auto;
  text-align: center; }
  .big-action-buttons .btn {
    width: 90%;
    margin: 1em;
    padding: 1.5em; }

.btn > .glyphicon {
  margin-left: 0.5em;
  margin-right: 0.5em; }

.btn.btn-close {
  padding-top: 0;
  padding-right: 0; }
  .btn.btn-close .glyphicon {
    margin-right: 0; }

.load-bar {
  display: block;
  width: 100%;
  height: 10em;
  line-height: 10em;
  text-align: center; }

.alert {
  font-size: 1.4em; }

input[type='number'] {
  -moz-appearance: textfield; }

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input.ng-invalid {
  background: #F84072;
  border: 1px red solid; }

.admin-list {
  font-size: 1.5em; }

.datepicker,
.timepicker {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.4em;
  display: inline-block;
  vertical-align: middle; }

.staticDateTime {
  margin: auto;
  padding: 1em 0 2em 0;
  max-width: 50em; }

.add-player-status {
  padding: 1em;
  text-align: center; }

.player-delete-blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px); }

.player-delete-warning-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: -1em;
  z-index: 20;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center; }

.panel-title .player-nickname {
  margin-left: 0.3em;
  padding-left: 0.5em;
  border-left: 2px solid #e4e9ef;
  display: inline-block;
  white-space: nowrap; }
.panel-title .player-name {
  background-color: #4f6885;
  color: #e4e9ef;
  display: inline-block;
  padding: 0 0.5em;
  font-weight: bold;
  margin: 0.5em 0; }

.player-card {
  margin: 0.5em; }
  .player-card .player-order {
    float: left;
    padding-right: 0.5em;
    font-size: 3em;
    color: #df6d2e;
    width: 2em;
    text-align: center;
    line-height: 1.5em; }
  .player-card .player-nickname {
    margin-left: 0.3em;
    padding-left: 0.5em;
    border-left: 2px solid #e4e9ef;
    display: inline-block;
    white-space: nowrap; }
  .player-card .player-name {
    background-color: #4f6885;
    color: #e4e9ef;
    display: inline-block;
    padding: 0 0.5em;
    font-weight: bold;
    font-size: 1.4em; }
  .player-card .player-fullname {
    font-size: 1.4em; }

.player-scores-wrapper {
  margin-bottom: 2.5em; }

.player-score-card {
  display: inline-block;
  margin: 0.5em;
  margin-top: 0;
  margin-bottom: 0.75em;
  text-align: center;
  font-size: 1.4em;
  width: 5em; }
  .player-score-card .player-name {
    margin: 0.5em;
    background-color: #4f6885;
    color: #e4e9ef;
    font-weight: bold; }
  .player-score-card .player-score-card-outline {
    border: 4px solid #df6d2e;
    border-radius: 3px; }
  .player-score-card .player-score-big {
    font-size: 2em;
    color: #df6d2e; }
  .player-score-card .game-rank {
    height: 1.5em;
    vertical-align: middle; }
    .player-score-card .game-rank .game-rank-dot {
      display: inline-block;
      margin: 0 0.5em; }

.footer-spacer {
  width: 100%;
  height: 5.5em; }

.footer-bar {
  -moz-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0 0.5em;
  color: #fff;
  background-color: #4f6885;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 2em;
  line-height: 1.8em;
  font-size: 2.2em;
  font-weight: bold; }
  .footer-bar .btn {
    margin-left: 0.25em;
    margin-right: 0.25em; }

.overlay {
  top: 0;
  left: 0; }
  .overlay.add-player-open {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 24;
    transition: all 0.3s ease-in-out; }

.add-player-panel {
  position: fixed;
  top: 6em;
  width: 100%;
  z-index: 25; }

.game-column-player,
.game-column-rank,
.game-column-points {
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.game-column-player {
  width: 22em; }

.game-column-rank {
  width: 15em; }

.game-column-points {
  width: 15em; }

.game-date {
  font-size: 2em;
  font-weight: bold;
  color: #df6d2e; }

.game-time {
  font-size: 1.4em;
  font-weight: bold; }

.game-delete-btn {
  float: right; }

.game-delete-warning-btn,
.game-edit-btn {
  vertical-align: top; }
  .game-delete-warning-btn .btn,
  .game-edit-btn .btn {
    margin: 0.5em; }
    .game-delete-warning-btn .btn .glyphicon,
    .game-edit-btn .btn .glyphicon {
      margin-left: 0; }

.game-delete-warning-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: -1em;
  z-index: 20;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center; }
  .game-delete-warning-overlay h3 {
    text-shadow: 0 0 20px #000; }

.game-delete-blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px); }

.game-score-modifier-icons,
.game-score-numeric-input {
  display: inline-block;
  text-align: center;
  vertical-align: middle; }

.game-score-modifier-icons a {
  padding: 0.5em 0; }

.game-score-numeric-input {
  width: 3em; }

.btn-group-lg.game-rank-group {
  padding: 1em 0; }
  .btn-group-lg.game-rank-group > .btn {
    padding: 0.5em 1em; }

/* 
.ranking-row,
.ranking-rank,
.ranking-data,
.row {
	border: $default-border;
} */
.status-banner {
  padding: 1em;
  text-align: center; }

.ranking-no-rank {
  opacity: 0.5; }

.ranking-row {
  display: block;
  line-height: 2em;
  padding: 1em 0; }
  .ranking-row .ranking-rank {
    float: left;
    padding-right: 0.5em;
    font-size: 3em;
    color: #df6d2e;
    width: 2.5em;
    text-align: right;
    line-height: 2em;
    height: 3em; }
  .ranking-row .ranking-value {
    font-size: 1.4em; }
  .ranking-row .ranking-label {
    display: inline-block;
    margin-right: 0.5em;
    color: #7a8394; }

.playlist-instructions {
  padding: 1em;
  text-align: center;
  font-size: 1.4em; }

.playlist-filter {
  padding: 0.25em;
  width: 100%;
  font-size: 2em;
  line-height: 2em;
  height: 2em; }

.playlist-filter-remove {
  font-size: 2em;
  cursor: pointer; }

.playlist-row {
  display: block;
  line-height: 2em;
  padding: 1em 0;
  padding: 1em; }
  .playlist-row:hover {
    border-radius: 5px;
    background-color: #e7c0ab;
    cursor: pointer; }
    .playlist-row:hover .player-nickname {
      border-color: #e7c0ab; }
    .playlist-row:hover .player-name {
      color: #e7c0ab; }
  .playlist-row .player-order .checkmark {
    border: 4px solid #df6d2e;
    border-radius: 3px; }
  .playlist-row .player-order input {
    position: absolute;
    visibility: hidden; }
  .playlist-row .playlist-player-name,
  .playlist-row .playlist-player-fullname {
    font-size: 1.4em; }

.playlist-scores-row,
.playlist-order-row {
  display: block;
  line-height: 2em;
  padding: 1em 0; }

.playlist-order-row {
  width: 100%;
  padding: 1em; }

.playlist-scores-row {
  max-width: 50em;
  padding: 0 0.5em;
  margin: auto; }

.playlist-scores-input {
  width: 100%; }

/*# sourceMappingURL=style.css.map */
