<div class="col-xs-12 player-stats">
    <div class="player-card">
        <player-nametag player="ctrl.playerStats.player"></player-nametag>
    </div>

    <div class="stats-intro">
        <div>Games Played: {{ctrl.playerStats.gamesPlayed}}</div>
        <div>
            Position deltas are measured when the player hits the ten game minimum.
        </div>
        <div>
            <span class="glyphicon glyphicon-star gold-star-on-light" aria-hidden="true"></span> = Player played this game.
        </div>
    </div>

    <div class="stats-table-header hidden-xs">
        <div class="row">
            <div class="col-xs-4">
                <div class="stats-table-header-cell">
                    Game Date/Time
                </div>
            </div>
            <div class="col-xs-4">
                <div class="stats-table-header-cell delta-row">
                    <div class="header-rating">
                        Rating
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="stats-table-header-cell delta-row">
                    <div class="header-position">
                        Position
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-repeat="game in ctrl.playerStats.games" ng-class="{'stats-row-even': $even, 'stats-row-odd': $odd}">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="stats-info-row-container">
                    <div class="stats-game-date">
                        {{game.gameDate | date:'EEE, MMM d, h:mm a'}}
                    </div>
                    <div class="stats-game-played">
                        <span ng-if="game.played" class="glyphicon glyphicon-star gold-star" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="stats-info-row-container delta-row">
                    <div class="stats-label visible-xs-block">Rating:</div>
                    <delta-box value="game.rating" diff="game.ratingDiff" decimal="2"></delta-box>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="stats-info-row-container delta-row">
                    <div class="stats-label visible-xs-block">Position:</div>
                    <delta-box value="ctrl.positionValue(game.position)" diff="game.positionDiff"></delta-box>
                </div>
            </div>
        </div>
    </div>
</div>