<div class="load-bar" ng-if="ctrl.showLoading">
    <img src="/images/loader.gif" width="220" height="19" />
</div>

<div class="text-center" ng-if="ctrl.showErrorMessage">
    <h2>An error occured.</h2></div>

<div ng-if="ctrl.showPlayers">

    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-7">
                <div class="status-banner">
                    <player-selector players="ctrl.curatedNewPlayers" on-selected="ctrl.addPlayer(data)"></player-selector>
                </div>

                <div class="playlist-instructions">
                    Select players by typing initials, full name, or nickname into textbox. Remove players by
                    unchecking name from playlist.
                </div>
                
                <div class="text-center alert" ng-class="{'alert-danger': !ctrl.hasDate}">
                    <date-picker date="ctrl.datePlayed"></date-picker>

                    <button type="button" class="btn btn-primary" ng-click="ctrl.useCurrentDateTime()">Use Current Date and Time</button>
                </div>

                <div class="btn-row">
                    <div class="btn-group btn-group-justified" role="group">

                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-danger btn-lg" ng-click="ctrl.reset()" ng-disabled="!ctrl.hasSelectedPlayers">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Reset
                            </button>
                        </div>

                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success btn-lg" ng-click="ctrl.createGame()" ng-disabled="ctrl.disableGameCreation">
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Create
                            </button>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-md-5 selected-players-list">
                <!-- Sort Buttons -->

                <div class="btn-row">

                    <div class="btn-group btn-group-justified" role="group">
                        
                        <label class="btn btn-info"
                               ng-model="ctrl.sortOrder"
                               uib-btn-radio="'Selected'"
                               ng-click="ctrl.useThisOrder()">Sort by Order Added</label>

                        <label class="btn btn-info"
                               ng-model="ctrl.sortOrder"
                               uib-btn-radio="'Rating'"
                               ng-click="ctrl.useGameOrder()">Sort by Game Order</label>

                    </div>
                </div>

                <selected-players></selected-players>
            </div>
        </div>
    </div>
    
</div>
