<div class="selected-players">
    <div class="playlist-row" ng-repeat="player in ctrl.players">
        <div class="player-card" ng-click="ctrl.removePlayer(player)">
            <div class="player-order">
                <div class="checkmark">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </div>
            </div>
            <div class="player-nametag">
                <player-nametag player="player.player"></player-nametag>
            </div>
        </div>
    </div>

</div>

<div ng-if="!ctrl.hasMinimumPlayers" class="alert alert-danger text-center">
    At least three players required.
</div>
