<div class="temp-player-panel">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <h3 class="panel-title">
                <player-nametag player="ctrl.gamePlayer.player"></player-nametag>
            </h3>
        </div>

        <div class="col-xs-12 col-sm-8 text-right modifier-controls">
            <div class="game-score-modifier-icons">
                <a class="btn btn-link btn-lg" ng-class="{ disabled: ctrl.disabled }" ng-click="ctrl.decrementScore(player)">
                    <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                </a>
            </div>

            <input class="form-control input-lg game-score-numeric-input" type="number" pattern="-?[0-9]*"
                    step="1" min="{{ctrl.pointsMin}}" max="{{ctrl.pointsMax}}" ng-model="ctrl.gamePlayer.points"
                    ng-disabled="ctrl.disabled" numeric-up-down required />

            <div class="game-score-modifier-icons">
                <a class="btn btn-link btn-lg" ng-class="{ disabled: ctrl.disabled }" ng-click="ctrl.incrementScore(player)">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </a>
            </div>

            <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger btn-lg" ng-click="ctrl.cancel()" aria-label="Canel">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-success btn-lg" ng-click="ctrl.add()" aria-label="Add">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>