<div class="load-bar" ng-if="ctrl.showLoading">
	<img src="/images/loader.gif" width="220" height="19" />
</div>

<div class="text-center" ng-if="ctrl.showErrorMessage"><h2>An error occured.</h2></div>

<div ng-if="ctrl.showPlayers">
  
  <!-- Textbox -->
  
  <div class="status-banner">
    <playlist players="ctrl.players" on-selected="ctrl.onSelected(data)"></playlist>
  </div>
  
  <!-- Selected players instructions -->
  
  <div ng-if="!ctrl.hasSelectedPlayers()" class="playlist-instructions">
    Select players by typing initials, full name, or nickname into textbox.
  </div>
     
  <div ng-if="ctrl.hasSelectedPlayers()">
        
    <!-- Selected players list -->
    
  	<div class="playlist-row" ng-repeat="player in ctrl.players | filter:{selected:true} | orderBy:'order'">
  		<div class="player-card" ng-click="ctrl.removePlayer(player)">
    		<div class="player-order">
    			<div class="checkmark">
    				<span ng-show="!player.selected">&nbsp;</span>
    				<span ng-show="player.selected" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    			</div>
    		</div>
    		<player-nametag player="player"></player-nametag>
    	</div>
  	</div>
    
    <div ng-if="ctrl.disablePlaylistCreation()" class="playlist-instructions">
      <b>At least three players required.</b>
    </div>
    
    <!-- Action buttons -->
    
    <div class="btn-row">
      
      <p class="text-center">
        <button type="button" class="btn btn-danger btn-lg" ng-click="ctrl.removeAll()">
  				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Reset
  			</button>
      </p>
      
			<div class="btn-group btn-group-justified" role="group">
				
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-warning btn-lg" ng-click="ctrl.useThisOrder()" ng-disabled="ctrl.disablePlaylistCreation()">
            Use this order
          </button>
				</div>
        
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-primary btn-lg" ng-click="ctrl.createPlaylist()" ng-disabled="ctrl.disablePlaylistCreation()">
    				Use game order
    			</button>
				</div>
        
			</div>
		</div>
  	
  <!-- Ende select players -->
  </div>
 
<!-- End show players -->
</div>

<!-- Game ordered players -->

<div ng-if="ctrl.orderedPlayersLoaded">
  
  <div class="playlist-instructions">
    Write players on board in this order:
  </div>
  
  <div class="playlist-order-row" ng-repeat="player in ctrl.orderedPlayers" ng-if="ctrl.orderedPlayersLoaded">
  	<div class="player-card">
  		<div class="player-order">
  			{{$index + 1}}
  		</div>
    	<player-nametag player="player"></player-nametag>
    </div>
  </div>
  
  <div class="btn-row">
		<div class="btn-group btn-group-justified" role="group">
			
      <div class="btn-group" role="group">
				<button type="button" class="btn btn-primary btn-lg" ng-click="ctrl.backToSelectPlayers()" ng-disabled="ctrl.disableOrderedPlayers">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Modify
        </button>
			</div>
      
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-success btn-lg" ng-click="ctrl.startGame()" ng-disabled="ctrl.disableOrderedPlayers">
          <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Start
        </button>
			</div>
      
		</div>
	</div>
  
</div>
