<div class="load-bar" ng-if="playersLoading">
	<img src="/images/loader.gif" width="220" height="19" />
</div>

<playlist players="players" ng-if="!playersLoading"></playlist>

<div class="row big-action-buttons">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<button type="button" class="btn btn-danger btn-lg" ng-click="ctrl.removeAll()">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove All
		</button>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<button type="button" class="btn btn-primary btn-lg" ng-click="ctrl.createPlaylist()" data-toggle="modal" data-target="#myModal">
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Create Playlist
		</button>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        	<span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Playlist</h4>
      </div>
      <div class="modal-body">
      	<div class="load-bar" ng-if="orderedPlayersLoading">
      		<img src="/images/loader.gif" width="220" height="19" />
      	</div>
      	<div class="playlist-order-row" ng-repeat="player in orderedPlayers" ng-if="!orderedPlayersLoading">
	      	<div class="player-card">
	      		<div class="player-order">
	      			{{$index + 1}}
	      		</div>
		      	<player-nametag player="player"></player-nametag>
          </div>
		    </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning btn-lg" data-dismiss="modal" ng-click="ctrl.startGame()">Start Game</button>
        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>