<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

<div class="load-bar" ng-if="ctrl.showLoading">
	<img src="/images/loader.gif" width="220" height="19" />
</div>

<div ng-if="ctrl.showScoreForm">
	<date-picker date="ctrl.datePlayedJs" disabled="ctrl.disableControls"></date-picker>
	<edit-scores players="ctrl.game.players" disabled="ctrl.disableControls"></edit-scores>
	
	<div class="status-banner">
		<playlist players="ctrl.allPlayers" on-selected="ctrl.onSelected(data)"></playlist>
	</div>
	
	<div class="row big-action-buttons">
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<button type="button" class="btn btn-primary btn-lg" ng-click="ctrl.returnToActiveGames()" ng-disabled="ctrl.disableControls" aria-label="Back to Games">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Games
			</button>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<button type="button" class="btn btn-warning btn-lg" ng-click="ctrl.finalize()" ng-disabled="ctrl.disableControls" aria-label="Finalize Game">
				<span class="glyphicon glyphicon-saved" aria-hidden="true"></span> Finalize
			</button>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<button type="button" class="btn btn-success btn-lg" ng-click="ctrl.save()" ng-disabled="ctrl.disableControls" aria-label="Save Game">
				<span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
			</button>
		</div>
	</div>
</div>

<div ng-if="ctrl.showError">
	<div class="row big-action-buttons">
		<div class="col-xs-12">
			<button type="button" class="btn btn-danger btn-lg" ng-click="ctrl.returnToActiveGames()">
				Return to Active Games
			</button>
		</div>
	</div>
</div>