<div class="col-xs-12">
	<div class="load-bar" ng-if="loading">
		<img src="/images/loader.gif" width="220" height="19" />
	</div>
	
	<div ng-if="!loading">
		<div class="panel panel-default" ng-repeat="game in games">
			<div class="panel-body">
				<div class="game-date">{{game.datePlayed | date:'MMM d, yyyy'}}</div>
				<div class="game-time">{{game.datePlayed | date:'EEEE h:mm a'}}</div>
				
				<player-scoretag player="player" ng-repeat="player in game.players"></player-scoretag>
			</div>
			<div class="panel-footer text-right">{{game.players.length}} players</div>
		</div>
	</div>
</div>