<div class="overlay" ng-class="{'sidebar-open':ctrl.sidebarOpen}" ng-click="ctrl.closeSidebar()"></div>

<div class="global-nav">
	<input type="checkbox" class="global-nav-checkbox" ng-model="ctrl.sidebarOpen" />
	<div class="glyphicon glyphicon-menu-hamburger" ng-click="ctrl.sidebarOpen = !ctrl.sidebarOpen"></div>
	<div class="global-nav-title">DORK</div>
</div>

<nav class="global-nav-menu" ng-class="{'sidebar-open':ctrl.sidebarOpen}">
	<ul>
		<li><a href="/"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>Leaderboard</a></li>
		<li><a href="/CreateGame"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>Create Game</a></li>
		<li><a href="/ActiveGames"><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>Active Games</a></li>
	</ul>
</nav>