<div ng-if="ctrl.hasSelectedPlayers()">
	<div class="playlist-order-row" ng-repeat="player in ctrl.players | filter:{selected:true} | orderBy:'order'">
		<div class="player-card">
			<div class="player-order">
				{{$index + 1}} {{player.order}}
			</div>
			<player-nametag player="player"></player-nametag>
		</div>
	</div>
	
	<div class="row big-action-buttons">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<button type="button" class="btn btn-danger btn-lg" ng-click="ctrl.removeAll()" ng-disabled="ctrl.disableRemoveAll">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove All
			</button>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<button type="button" class="btn btn-primary btn-lg" ng-click="ctrl.createPlaylist()" ng-disabled="ctrl.disableCreatePlaylist" data-toggle="modal" data-target="#myModal">
				<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Create Playlist
			</button>
		</div>
	</div> 
</div>

<div class="form-group">
	<div class="input-group">
		<input type="text" class="form-control playlist-filter"
			placeholder="Filter by name or nickname..."
			ng-model="ctrl.filter"
			typeahead="player as player.fullname for player in ctrl.players | filter:$viewValue | limitTo:4"
			typeahead-on-select="ctrl.toggleSelected($item, $model, $label)"
			autocomplete="off" />
		<div class="input-group-addon playlist-filter-remove" ng-click="ctrl.removeFilter()"><span class="glyphicon glyphicon-remove-sign"></span></div>
	</div>
</div>

<div class="playlist-row col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="player in ctrl.players">
	<div class="player-card" ng-click="ctrl.toggleSelected(player)">
		<div class="player-order">
			<div class="checkmark">
				<input type="checkbox" ng-model="player.selected" ng-selected="player.selected" />
				<span ng-show="!player.selected">&nbsp;</span>
				<span ng-show="player.selected" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			</div>
		</div>
		<player-nametag player="player"></player-nametag>
	</div>
</div>

<div class="clearfix"></div>